@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway';
@import 'https://fonts.googleapis.com/css?family=Quantico|Great+Vibes';

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h4, h5, p {
  font-family: 'Raleway';
}

li {
  font-family: 'Open Sans', sans-serif;
}
